html {
	background: /*linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),*/
	url(../bg/grass.jpg) no-repeat;
	background-size: cover;
}

body, html {
	margin: 0;
	padding: 0;
}

.keys {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
}

.key {
	padding: 1rem .4rem;
	width: 10rem;
	display: block;
	transition: all .07s ease;
}

.playing {
	transform: scale(1.3);
}